http_interactions:
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name=%22verapamil%22&sort=invalid_field:asc&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 400
      message: Bad Request
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7b-YXSQm9yIUSoIv/rIi3ya3OZ8kH8"
      x-api-umbrella-request-id: cnv546uvr4spuk8vl1t0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '179'
      x-vcap-request-id: baf3828d-140e-475a-7a0c-5447e338a97f
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "BAD_REQUEST",
            "message": "Sorting allowed by non-analyzed fields only: invalid_field"
          }
        }
  recorded_at: 2025-07-11 11:39:28 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic cmVhbGx5X2JhZF9hcGlfa2V5Og==
  response:
    status:
      status_code: 403
      message: Forbidden
    headers:
      content-type: application/json
      x-api-umbrella-request-id: cnv54719ni7adklbn040
      x-vcap-request-id: fcda5a41-b4ce-4918-530e-b2165b999123
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "API_KEY_INVALID",
            "message": "An invalid api_key was supplied. Get one at https://api.fda.gov:443"
          }
        }
  recorded_at: 2025-07-11 11:39:28 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%223129084%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: cnv5473lpvjr7v4tlhng
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '178'
      x-vcap-request-id: 53f5f00f-e254-47da-70b9-38d482a7e02a
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-11 11:39:28 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22naproxen%22&limit=1000&skip=500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: cnv54762qnf2hb2gpas0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '178'
      x-vcap-request-id: 8445e66f-3573-4412-537d-b76987cc53cb
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-11 11:39:28 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 500
      message: Internal Server Error
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dc-Iqbv3kSthSrLR4wjEjnZen97oNk"
      x-api-umbrella-request-id: cnv54796uvllprtaf8a0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '177'
      x-vcap-request-id: 66989293-0b21-4600-49f4-7ade66f2f2ec
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "SERVER_ERROR",
            "message": "Check your request and try again",
            "details": "[token_mgr_error] token_mgr_error: Lexical error at line 1, column 32.  Encountered: <EOF> after : \"\""
          }
        }
  recorded_at: 2025-07-11 11:39:28 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
[...]
