http_interactions:
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name=%22verapamil%22&sort=invalid_field:asc&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 400
      message: Bad Request
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7b-YXSQm9yIUSoIv/rIi3ya3OZ8kH8"
      x-api-umbrella-request-id: co6bqov7ua6fgua2765g
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '190'
      x-vcap-request-id: 955f2d66-df10-4591-48fc-5e14d0547ab1
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "BAD_REQUEST",
            "message": "Sorting allowed by non-analyzed fields only: invalid_field"
          }
        }
  recorded_at: 2025-07-22 16:26:54 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic cmVhbGx5X2JhZF9hcGlfa2V5Og==
  response:
    status:
      status_code: 403
      message: Forbidden
    headers:
      content-type: application/json
      x-api-umbrella-request-id: co6bqp1mh0sb3u3nm51g
      x-vcap-request-id: 378c1e80-f861-4f4c-55a4-d6a2a6143c85
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "API_KEY_INVALID",
            "message": "An invalid api_key was supplied. Get one at https://api.fda.gov:443"
          }
        }
  recorded_at: 2025-07-22 16:26:54 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%223129084%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: co6bqp3csgvdhnjqbm00
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '189'
      x-vcap-request-id: bcdfa503-ff1a-42fb-5e6b-2ce03c8148f2
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-22 16:26:54 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22naproxen%22&limit=1000&skip=500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: co6bqp5l96fmrt0neuq0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '188'
      x-vcap-request-id: 22374d14-e2dc-4265-622c-f21c48e1e4c1
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-22 16:26:54 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 500
      message: Internal Server Error
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dc-Iqbv3kSthSrLR4wjEjnZen97oNk"
      x-api-umbrella-request-id: co6bqp819k4prei6e5k0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '184'
      x-vcap-request-id: 1a67f6ad-2ddd-42f5-4efd-e88b2c18f2b5
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "SERVER_ERROR",
            "message": "Check your request and try again",
            "details": "[token_mgr_error] token_mgr_error: Lexical error at line 1, column 32.  Encountered: <EOF> after : \"\""
          }
        }
  recorded_at: 2025-07-22 16:26:54 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
[...]
