http_interactions:
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name=%22verapamil%22&sort=invalid_field:asc&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 400
      message: Bad Request
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7b-YXSQm9yIUSoIv/rIi3ya3OZ8kH8"
      x-api-umbrella-request-id: cnukenqn1i9mugea8uv0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '239'
      x-vcap-request-id: 3e7e432f-fc2d-4a7c-63e1-3ee059fb6dfd
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "BAD_REQUEST",
            "message": "Sorting allowed by non-analyzed fields only: invalid_field"
          }
        }
  recorded_at: 2025-07-10 16:14:10 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic cmVhbGx5X2JhZF9hcGlfa2V5Og==
  response:
    status:
      status_code: 403
      message: Forbidden
    headers:
      content-type: application/json
      x-api-umbrella-request-id: cnukent7s5t9amffph90
      x-vcap-request-id: c00a9123-af98-47f8-6c81-98878632e621
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "API_KEY_INVALID",
            "message": "An invalid api_key was supplied. Get one at https://api.fda.gov:443"
          }
        }
  recorded_at: 2025-07-10 16:14:10 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%223129084%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: cnukenvgefqnccfc12ig
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '238'
      x-vcap-request-id: bb9a3255-ab16-4629-68e7-310f0aa62ede
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-10 16:14:10 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22naproxen%22&limit=1000&skip=500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: cnukeo22v4ngrlec8c7g
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '237'
      x-vcap-request-id: fd497260-207e-46d8-65c9-01e69045b32d
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-10 16:14:10 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 500
      message: Internal Server Error
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dc-Iqbv3kSthSrLR4wjEjnZen97oNk"
      x-api-umbrella-request-id: cnukeo4ojijefpvnd770
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '236'
      x-vcap-request-id: b7e64348-7905-4138-4262-76536b9fe1b0
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "SERVER_ERROR",
            "message": "Check your request and try again",
            "details": "[token_mgr_error] token_mgr_error: Lexical error at line 1, column 32.  Encountered: <EOF> after : \"\""
          }
        }
  recorded_at: 2025-07-10 16:14:10 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
[...]
