http_interactions:
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.generic_name:%22semaglutide%22&limit=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6417-2PYjMEIuFOY/KR0j0DMrIiXuIsQ"
      link: <https://api.fda.gov/drug/drugsfda.json?search=openfda.generic_name%3A%22semaglutide%22&limit=2&skip=0&search_after=0%3DC-F-8pcBIMiVPoupJ-xf>;
        rel="next"
      x-api-umbrella-request-id: cnugkf9qr7m5i57pbjn0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '213'
      x-vcap-request-id: 77ad73a8-3066-4ab2-7175-2e25072d3c33
    body:
      encoding: ''
      file: no
      string: |-
        {
          "meta": {
            "disclaimer": "Do not rely on openFDA to make decisions regarding medical care. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated. We may limit or otherwise restrict your access to the API in line with our Terms of Service.",
            "terms": "https://open.fda.gov/terms/",
            "license": "https://open.fda.gov/license/",
            "last_updated": "2025-07-09",
            "results": {
              "skip": 0,
              "limit": 2,
              "total": 3
            }
          },
          "results": [
            {
              "submissions": [
                {
                  "submission_type": "SUPPL",
                  "submission_number": "11",
                  "submission_status": "AP",
                  "submission_status_date": "20240308",
                  "review_priority": "PRIORITY",
                  "submission_class_code": "EFFICACY",
                  "submission_class_code_description": "Efficacy",
                  "application_docs": [
                    {
                      "id": "77770",
                      "url": "http://www.accessdata.fda.gov/drugsatfda_docs/label/2024/215256s011lbl.pdf",
                      "date": "20240308",
                      "type": "Label"
                    },
                    {
                      "id": "77775",
                      "url": "https://www.accessdata.fda.gov/drugsatfda_docs/appletter/2024/215256Orig1s011ltr.pdf",
                      "date": "20240311",
                      "type": "Letter"
                    },
                    {
                      "id": "80167",
                      "url": "https://www.accessdata.fda.gov/drugsatfda_docs/nda/2024/215256Orig1s011.pdf",
                     [...]
[...]
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.generic_name%3A%22semaglutide%22&limit=2&skip=0&search_after=0%3DC-F-8pcBIMiVPoupJ-xf
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3260-RKltsBMzPGiXmfunZ+9AiOtPnCQ"
  [...]
[...]
