http_interactions:
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name=%22verapamil%22&sort=invalid_field:asc&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 400
      message: Bad Request
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7b-YXSQm9yIUSoIv/rIi3ya3OZ8kH8"
      x-api-umbrella-request-id: cnte5b677vf16btu9330
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '239'
      x-vcap-request-id: 0d9ed482-cd59-43ab-7009-d8504a4a0e2b
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "BAD_REQUEST",
            "message": "Sorting allowed by non-analyzed fields only: invalid_field"
          }
        }
  recorded_at: 2025-07-08 19:37:09 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic cmVhbGx5X2JhZF9hcGlfa2V5Og==
  response:
    status:
      status_code: 403
      message: Forbidden
    headers:
      content-type: application/json
      x-api-umbrella-request-id: cnte5b8jtg0odium2ol0
      x-vcap-request-id: 912552b2-4dc1-4ba7-58e4-f7cb7c0dca18
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "API_KEY_INVALID",
            "message": "An invalid api_key was supplied. Get one at https://api.fda.gov:443"
          }
        }
  recorded_at: 2025-07-08 19:37:09 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%223129084%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: cnte5baeh9t65tqpudbg
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '238'
      x-vcap-request-id: d98de0a1-5346-4366-6fed-77af9df9b3cb
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-08 19:37:09 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22naproxen%22&limit=1000&skip=500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: cnte5bcs9l4a49o6ad00
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '237'
      x-vcap-request-id: 5299e01f-6ec0-49b0-7c49-ebd4b59353af
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-08 19:37:09 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 500
      message: Internal Server Error
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dc-Iqbv3kSthSrLR4wjEjnZen97oNk"
      x-api-umbrella-request-id: cnte5bfotfop2urik4rg
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '237'
      x-vcap-request-id: 16ca0126-90f2-4d04-5384-bc6498589452
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "SERVER_ERROR",
            "message": "Check your request and try again",
            "details": "[token_mgr_error] token_mgr_error: Lexical error at line 1, column 32.  Encountered: <EOF> after : \"\""
          }
        }
  recorded_at: 2025-07-08 19:37:09 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
[...]
