http_interactions:
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name=%22verapamil%22&sort=invalid_field:asc&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 400
      message: Bad Request
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7b-YXSQm9yIUSoIv/rIi3ya3OZ8kH8"
      x-api-umbrella-request-id: cnugkfmfrj35r6dmihq0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '209'
      x-vcap-request-id: 935e1691-ff13-42bc-5a01-eb6dec807406
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "BAD_REQUEST",
            "message": "Sorting allowed by non-analyzed fields only: invalid_field"
          }
        }
  recorded_at: 2025-07-10 11:47:00 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic cmVhbGx5X2JhZF9hcGlfa2V5Og==
  response:
    status:
      status_code: 403
      message: Forbidden
    headers:
      content-type: application/json
      x-api-umbrella-request-id: cnugkfpb4e6bmsr0rp50
      x-vcap-request-id: ca3d4bee-83af-471c-776a-74652defadd5
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "API_KEY_INVALID",
            "message": "An invalid api_key was supplied. Get one at https://api.fda.gov:443"
          }
        }
  recorded_at: 2025-07-10 11:47:00 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%223129084%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: cnugkfr4sh61q5f6m0cg
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '208'
      x-vcap-request-id: 4d51f581-e0b7-4c8c-7107-7d5e415b05d6
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-10 11:47:00 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22naproxen%22&limit=1000&skip=500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 404
      message: Not Found
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50-Gov3eVBQAYPDbwMSq8YtHKLjrHw"
      x-api-umbrella-request-id: cnugkfthruubqor7d4k0
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '207'
      x-vcap-request-id: f3c3e540-27b5-43cd-79cd-2b7b2ffd3250
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "NOT_FOUND",
            "message": "No matches found!"
          }
        }
  recorded_at: 2025-07-10 11:47:00 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.brand_name:%22verapamil%22%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 500
      message: Internal Server Error
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dc-Iqbv3kSthSrLR4wjEjnZen97oNk"
      x-api-umbrella-request-id: cnugkg0l9v044rph8g20
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '206'
      x-vcap-request-id: 514da2c0-0f2f-4b90-59c3-1f6a2aab1fa9
    body:
      encoding: ''
      file: no
      string: |-
        {
          "error": {
            "code": "SERVER_ERROR",
            "message": "Check your request and try again",
            "details": "[token_mgr_error] token_mgr_error: Lexical error at line 1, column 32.  Encountered: <EOF> after : \"\""
          }
        }
  recorded_at: 2025-07-10 11:47:00 GMT
  recorded_with: vcr/1.7.0, webmockr/2.1.0
[...]
