http_interactions:
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.generic_name:%22semaglutide%22&limit=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5e64-x3g6nSUZcM/mTsY5CqVgU+5ZQ+Q"
      link: <https://api.fda.gov/drug/drugsfda.json?search=openfda.generic_name%3A%22semaglutide%22&limit=2&skip=0&search_after=0%3DYEwDMJgBCsORzztAE_Kv>;
        rel="next"
      x-api-umbrella-request-id: co6bqobhmn2e3pkq5rng
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '201'
      x-vcap-request-id: a8a8cd8a-5e2d-467d-4414-cf498b506ff4
    body:
      encoding: ''
      file: no
      string: |-
        {
          "meta": {
            "disclaimer": "Do not rely on openFDA to make decisions regarding medical care. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated. We may limit or otherwise restrict your access to the API in line with our Terms of Service.",
            "terms": "https://open.fda.gov/terms/",
            "license": "https://open.fda.gov/license/",
            "last_updated": "2025-07-09",
            "results": {
              "skip": 0,
              "limit": 2,
              "total": 3
            }
          },
          "results": [
            {
              "submissions": [
                {
                  "submission_type": "SUPPL",
                  "submission_number": "1",
                  "submission_status": "AP",
                  "submission_status_date": "20200116",
                  "review_priority": "STANDARD",
                  "submission_class_code": "LABELING",
                  "submission_class_code_description": "Labeling",
                  "application_docs": [
                    {
                      "id": "61591",
                      "url": "https://www.accessdata.fda.gov/drugsatfda_docs/label/2020/213182s000,213051s001lbl.pdf",
                      "date": "20200117",
                      "type": "Label"
                    },
                    {
                      "id": "61603",
                      "url": "http://www.accessdata.fda.gov/drugsatfda_docs/appletter/2020/213182Orig1s000, 213051Orig1s001ltr.pdf",
                      "date": "20200117",
                      "type": "Letter"
                    }
                  ]
                },
                {
                  "submission_type": "SUPPL",
                  "submission_number": "23",
                  "submis[...]
[...]
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.generic_name%3A%22semaglutide%22&limit=2&skip=0&search_after=0%3DYEwDMJgBCsORzztAE_Kv
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3813-LdWWX1bB1a+ockhfiDF+f1LtzHk"
  [...]
[...]
- request:
    method: get
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.generic_name:%22tirzepatide%22&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Basic MTVsaTgxWkU3bXBlWkJUQ2tEMjBaZ0xnYUdnV1RkQmV1bWlJMnF4cjo=
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3b75-O4lzL4TRY7a9Nq3lVr+79hnNKoE"
      link: <https://api.fda.gov/drug/drugsfda.js[...]
