http_interactions:
- request:
    method: GET
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.manufacturer_name%3Agilead%2A&limit=2&skip=10
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8203-xq/Gw6f8IOlMftc+bs1syNirKMw"
      link: <https://api.fda.gov/drug/drugsfda.json?search=openfda.manufacturer_name%3Agilead%2A&limit=2&skip=12>;
        rel="next"
      x-api-umbrella-request-id: cnteqslrd582g7iceigg
      x-ratelimit-limit: '240'
      x-ratelimit-remaining: '239'
      x-vcap-request-id: a9a603a7-f463-4731-587c-bea9a1e2050e
    body:
      string: |-
        {
          "meta": {
            "disclaimer": "Do not rely on openFDA to make decisions regarding medical care. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated. We may limit or otherwise restrict your access to the API in line with our Terms of Service.",
            "terms": "https://open.fda.gov/terms/",
            "license": "https://open.fda.gov/license/",
            "last_updated": "2025-07-02",
            "results": {
              "skip": 10,
              "limit": 2,
              "total": 30
            }
          },
          "results": [
            {
              "submissions": [
                {
                  "submission_type": "SUPPL",
                  "submission_number": "14",
                  "submission_status": "AP",
                  "submission_status_date": "20211007",
                  "review_priority": "PRIORITY",
                  "submission_class_code": "EFFICACY",
                  "submission_class_code_description": "Efficacy",
                  "submission_property_type": [
                    {
                      "code": "Orphan"
                    }
                  ],
                  "application_docs": [
                    {
                      "id": "68954",
                      "url": "https://www.accessdata.fda.gov/drugsatfda_docs/appletter/2021/210251Orig1s014ltr.pdf",
                      "date": "20211012",
                      "type": "Letter"
                    },
                    {
                      "id": "68979",
                      "url": "http://www.accessdata.fda.gov/drugsatfda_docs/label/2021/210251s014lbl.pdf",
                      "date": "20211013",
                      "type": "Label"
                    }
                  ]
                },
                {
                  "submission_type": "SUPPL",
                  "submission_number": "20",
                  "submission_status": "AP",
      [...]
- request:
    method: GET
    uri: https://api.fda.gov/drug/drugsfda.json?search=openfda.manufacturer_name%3Agilead%2A&limit=1
  response:
    status: 403
    headers:
      content-type: application/json
      x-api-umbrella-request-id: cnteqso8skl95ll8p2lg
      x-vcap-request-id: 748fd7b2-d00d-4bdc-7d94-28547c947de2
    body:
      string: |-
        {
          "error": {
            "code": "API_KEY_INVALID",
            "message": "An invalid api_key was supplied. Get one at https://api.fda.gov:443"
          }
        }
  recorded_at: 2025-07-08 20:24:08
recorded_with: VCR-vcr/1.7.0.91, webmockr/2.1.0
